In [1]:
import pandas as pd
import datetime
from sqlalchemy import create_engine

In [2]:
netflix = pd.read_csv("data/netflix_titles.csv")
netflix.head()
# pd.read_csv("../data/rotten_tomatoes_movies.csv")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [3]:
# replace null values with "NA"

netflix_clean = netflix.fillna("NA")
netflix_clean.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NA,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NA,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NA,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [4]:
# filter out tv shows based on type column

netflix_clean = netflix_clean[netflix_clean["type"] != "TV Show"]

In [5]:
# rename column header 'listed_in' to be 'genre' and 'title' to be 'movie_title'

netflix_clean = netflix_clean.rename(columns = {"listed_in":"genre", "title":"movie_title"})

In [6]:
# create column for unique ID (title & release year) in netflix dataframe

netflix_clean["title_release_year"]=0
netflix_clean.head()

,show_id,type,movie_title,director,cast,country,date_added,release_year,rating,duration,genre,description,title_release_year
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,0
1,80117401,Movie,Jandino: Whatever it Takes,NA,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,0
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,0
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f...",0
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...,0

In [7]:
# fill in title_release_year column with cleaner title_release_year value & preview

netflix_clean["title_release_year"] = netflix_clean["movie_title"]+ "_" + netflix_clean["release_year"].astype(str)
netflix_clean.head()

,show_id,type,movie_title,director,cast,country,date_added,release_year,rating,duration,genre,description,title_release_year
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,Norm of the North: King Sized Adventure_2019
1,80117401,Movie,Jandino: Whatever it Takes,NA,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,Jandino: Whatever it Takes_2016
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,#realityhigh_2017
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f...",Automata_2014
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...,Fabrizio Copano: Solo pienso en mi_2017

In [8]:
# read rotten tomatoes data

rotten_tomatoes = pd.read_csv("data/rotten_tomatoes_movies.csv")
rotten_tomatoes.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,poster_image_url,rating,genre,directors,writers,cast,...,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",...,20th Century Fox,Rotten,49,144,Spilled,53.0,254287.0,38,71,73
1,/m/0878835,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,https://resizing.flixster.com/0AbudQ4KsB4BeXSB...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",...,Sony Pictures Classics,Certified Fresh,86,140,Upright,64.0,11567.0,43,121,19
2,/m/10,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,https://resizing.flixster.com/mF0dxH6UTa0FdkMs...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",...,Waner Bros.,Fresh,68,22,Spilled,53.0,14670.0,2,15,7
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,https://resizing.flixster.com/u-8xAyGaDVvROLiR...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,Criterion Collection,Certified Fresh,100,51,Upright,97.0,105000.0,6,51,0
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",https://resizing.flixster.com/FKExgYBHu07XLoil...,G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",...,Disney,Fresh,89,27,Upright,74.0,68860.0,5,24,3

In [9]:
# replace null values with 'NA'
rotten_tomatoes.dropna(inplace=True)

rotten_tomatoes.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,poster_image_url,rating,genre,directors,writers,cast,...,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",...,20th Century Fox,Rotten,49,144,Spilled,53.0,254287.0,38,71,73
1,/m/0878835,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,https://resizing.flixster.com/0AbudQ4KsB4BeXSB...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",...,Sony Pictures Classics,Certified Fresh,86,140,Upright,64.0,11567.0,43,121,19
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,https://resizing.flixster.com/u-8xAyGaDVvROLiR...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,Criterion Collection,Certified Fresh,100,51,Upright,97.0,105000.0,6,51,0
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",https://resizing.flixster.com/FKExgYBHu07XLoil...,G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",...,Disney,Fresh,89,27,Upright,74.0,68860.0,5,24,3
5,/m/10000_bc,"10,000 B.C.",A young outcast from a primitive tribe is forc...,With attention strictly paid to style instead ...,https://resizing.flixster.com/x41Imwhe6xccM0Zl...,PG-13,"Action & Adventure, Classics, Drama",Roland Emmerich,"Roland Emmerich, Harald Kloser","Steven Strait, Camilla Belle, Cliff Curtis, Jo...",...,Warner Bros. Pictures,Rotten,8,148,Spilled,37.0,411087.0,36,12,136

In [10]:
# fill null columns as "NA"

RT_clean = rotten_tomatoes.fillna("NA")
RT_clean.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,poster_image_url,rating,genre,directors,writers,cast,...,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",...,20th Century Fox,Rotten,49,144,Spilled,53.0,254287.0,38,71,73
1,/m/0878835,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,https://resizing.flixster.com/0AbudQ4KsB4BeXSB...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",...,Sony Pictures Classics,Certified Fresh,86,140,Upright,64.0,11567.0,43,121,19
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,https://resizing.flixster.com/u-8xAyGaDVvROLiR...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,Criterion Collection,Certified Fresh,100,51,Upright,97.0,105000.0,6,51,0
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",https://resizing.flixster.com/FKExgYBHu07XLoil...,G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",...,Disney,Fresh,89,27,Upright,74.0,68860.0,5,24,3
5,/m/10000_bc,"10,000 B.C.",A young outcast from a primitive tribe is forc...,With attention strictly paid to style instead ...,https://resizing.flixster.com/x41Imwhe6xccM0Zl...,PG-13,"Action & Adventure, Classics, Drama",Roland Emmerich,"Roland Emmerich, Harald Kloser","Steven Strait, Camilla Belle, Cliff Curtis, Jo...",...,Warner Bros. Pictures,Rotten,8,148,Spilled,37.0,411087.0,36,12,136

In [11]:
# rename 'in_theaters_date' to 'RT_release_year'

RT_clean = RT_clean.rename(columns = {"in_theaters_date":"RT_release_date"})
RT_clean.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,poster_image_url,rating,genre,directors,writers,cast,...,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",...,20th Century Fox,Rotten,49,144,Spilled,53.0,254287.0,38,71,73
1,/m/0878835,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,https://resizing.flixster.com/0AbudQ4KsB4BeXSB...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",...,Sony Pictures Classics,Certified Fresh,86,140,Upright,64.0,11567.0,43,121,19
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,https://resizing.flixster.com/u-8xAyGaDVvROLiR...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,Criterion Collection,Certified Fresh,100,51,Upright,97.0,105000.0,6,51,0
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",https://resizing.flixster.com/FKExgYBHu07XLoil...,G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",...,Disney,Fresh,89,27,Upright,74.0,68860.0,5,24,3
5,/m/10000_bc,"10,000 B.C.",A young outcast from a primitive tribe is forc...,With attention strictly paid to style instead ...,https://resizing.flixster.com/x41Imwhe6xccM0Zl...,PG-13,"Action & Adventure, Classics, Drama",Roland Emmerich,"Roland Emmerich, Harald Kloser","Steven Strait, Camilla Belle, Cliff Curtis, Jo...",...,Warner Bros. Pictures,Rotten,8,148,Spilled,37.0,411087.0,36,12,136

In [12]:
# keep only certain columns in RT_clean dataframe

RT_clean = RT_clean[["rotten_tomatoes_link", "movie_title", "RT_release_date", "tomatometer_status", "tomatometer_rating", "audience_rating"]]
RT_clean.head()

,rotten_tomatoes_link,movie_title,RT_release_date,tomatometer_status,tomatometer_rating,audience_rating
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,2010-02-12,Rotten,49,53.0
1,/m/0878835,Please Give,2010-04-30,Certified Fresh,86,64.0
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),1957-04-13,Certified Fresh,100,97.0
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea",1954-01-01,Fresh,89,74.0
5,/m/10000_bc,"10,000 B.C.",2008-03-07,Rotten,8,37.0

In [13]:
# concatenate movie title and release year into title_release_year column as key value

RT_clean_1 = RT_clean.copy()
RT_clean_1["title_release_year"] = RT_clean["movie_title"] + "_" + RT_clean['RT_release_date'].str[:4]
RT_clean_1.head()

,rotten_tomatoes_link,movie_title,RT_release_date,tomatometer_status,tomatometer_rating,audience_rating,title_release_year
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,2010-02-12,Rotten,49,53.0,Percy Jackson & the Olympians: The Lightning T...
1,/m/0878835,Please Give,2010-04-30,Certified Fresh,86,64.0,Please Give_2010
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),1957-04-13,Certified Fresh,100,97.0,12 Angry Men (Twelve Angry Men)_1957
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea",1954-01-01,Fresh,89,74.0,"20,000 Leagues Under The Sea_1954"
5,/m/10000_bc,"10,000 B.C.",2008-03-07,Rotten,8,37.0,"10,000 B.C._2008"

In [14]:
# join two dataframes together based on movie title and year

master_df = pd.merge(netflix_clean, RT_clean_1, on = "title_release_year", how = "inner")
master_df.head()

,show_id,type,movie_title_x,director,cast,country,date_added,release_year,rating,duration,genre,description,title_release_year,rotten_tomatoes_link,movie_title_y,RT_release_date,tomatometer_status,tomatometer_rating,audience_rating
0,70299204,Movie,Kidnapping Mr. Heineken,Daniel Alfredson,"Jim Sturgess, Sam Worthington, Ryan Kwanten, A...","Netherlands, Belgium, United Kingdom, United S...","September 8, 2017",2015,R,95 min,"Action & Adventure, Dramas, International Movies","When beer magnate Alfred ""Freddy"" Heineken is ...",Kidnapping Mr. Heineken_2015,/m/kidnapping_mr_heineken,Kidnapping Mr. Heineken,2015-03-06,Rotten,19,23.0
1,80057969,Movie,Love,Gaspar Noé,"Karl Glusman, Klara Kristin, Aomi Muyock, Ugo ...","France, Belgium","September 8, 2017",2015,NR,135 min,"Cult Movies, Dramas, Independent Movies",A man in an unsatisfying marriage recalls the ...,Love_2015,/m/love_2015,Love,2015-10-30,Rotten,40,38.0
2,70304988,Movie,Stonehearst Asylum,Brad Anderson,"Kate Beckinsale, Jim Sturgess, David Thewlis, ...",United States,"September 8, 2017",2014,PG-13,113 min,"Horror Movies, Thrillers","In 1899, a young doctor arrives at an asylum f...",Stonehearst Asylum_2014,/m/eliza_graves,Stonehearst Asylum,2014-10-24,Rotten,53,49.0
3,80057700,Movie,The Runner,Austin Stark,"Nicolas Cage, Sarah Paulson, Connie Nielsen, W...",United States,"September 8, 2017",2015,R,90 min,"Dramas, Independent Movies",A New Orleans politician finds his idealistic ...,The Runner_2015,/m/the_runner_1999,The Runner,2015-08-07,Rotten,24,22.0
4,80201906,Movie,Black Panther,Ryan Coogler,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",United States,"September 4, 2018",2018,PG-13,135 min,"Action & Adventure, Sci-Fi & Fantasy","T'Challa, the superpowered new leader of the h...",Black Panther_2018,/m/black_panther_2018,Black Panther,2018-02-16,Certified Fresh,97,79.0

In [15]:
# how many rows are there in master_df
master_df.shape

(534, 19)

In [16]:
# drop 'movie_title_y' and 'RT_release_date'
master_df = master_df.drop(columns = ["movie_title_y","RT_release_date"])
master_df

,show_id,type,movie_title_x,director,cast,country,date_added,release_year,rating,duration,genre,description,title_release_year,rotten_tomatoes_link,tomatometer_status,tomatometer_rating,audience_rating
0,70299204,Movie,Kidnapping Mr. Heineken,Daniel Alfredson,"Jim Sturgess, Sam Worthington, Ryan Kwanten, A...","Netherlands, Belgium, United Kingdom, United S...","September 8, 2017",2015,R,95 min,"Action & Adventure, Dramas, International Movies","When beer magnate Alfred ""Freddy"" Heineken is ...",Kidnapping Mr. Heineken_2015,/m/kidnapping_mr_heineken,Rotten,19,23.0
1,80057969,Movie,Love,Gaspar Noé,"Karl Glusman, Klara Kristin, Aomi Muyock, Ugo ...","France, Belgium","September 8, 2017",2015,NR,135 min,"Cult Movies, Dramas, Independent Movies",A man in an unsatisfying marriage recalls the ...,Love_2015,/m/love_2015,Rotten,40,38.0
2,70304988,Movie,Stonehearst Asylum,Brad Anderson,"Kate Beckinsale, Jim Sturgess, David Thewlis, ...",United States,"September 8, 2017",2014,PG-13,113 min,"Horror Movies, Thrillers","In 1899, a young doctor arrives at an asylum f...",Stonehearst Asylum_2014,/m/eliza_graves,Rotten,53,49.0
3,80057700,Movie,The Runner,Austin Stark,"Nicolas Cage, Sarah Paulson, Connie Nielsen, W...",United States,"September 8, 2017",2015,R,90 min,"Dramas, Independent Movies",A New Orleans politician finds his idealistic ...,The Runner_2015,/m/the_runner_1999,Rotten,24,22.0
4,80201906,Movie,Black Panther,Ryan Coogler,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",United States,"September 4, 2018",2018,PG-13,135 min,"Action & Adventure, Sci-Fi & Fantasy","T'Challa, the superpowered new leader of the h...",Black Panther_2018,/m/black_panther_2018,Certified Fresh,97,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,60022255,Movie,Balto,Simon Wells,"Kevin Bacon, Bob Hoskins, Bridget Fonda, Jim C...",United States,"April 1, 2018",1995,G,78 min,"Children & Family Movies, Dramas","Balto, who is half wolf and half dog, endures ...",Balto_1995,/m/balto,Rotten,54,70.0
530,607931,Movie,How to Make an American Quilt,Jocelyn Moorhouse,"Winona Ryder, Anne Bancroft, Ellen Burstyn, Ka...",United States,"April 1, 2018",1995,PG-13,116 min,"Dramas, Romantic Movies",A conflicted young woman spends the summer wit...,How to Make an American Quilt_1995,/m/how_to_make_an_american_quilt,Fresh,61,63.0
531,60036359,Movie,Schindler's List,Steven Spielberg,"Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...",United States,"April 1, 2018",1993,R,195 min,"Classic Movies, Dramas",Oskar Schindler becomes an unlikely humanitari...,Schindler's List_1993,/m/schindlers_list,Certified Fresh,97,97.0
532,80049281,Movie,Secret in Their Eyes,Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...","United States, United Kingdom, Spain, South Korea","April 1, 2018",2015,PG-13,111 min,"Dramas, Thrillers",A former FBI investigator reopens the haunting...,Secret in Their Eyes_2015,/m/secret_in_their_eyes_2015,Rotten,39,41.0
533,70099610,Movie,The Duchess,Saul Dibb,"Keira Knightley, Ralph Fiennes, Charlotte Ramp...","United Kingdom, Italy, France, United States","April 1, 2018",2008,PG-13,110 min,"Dramas, International Movies, Romantic Movies","To compensate for her unhappy marriage, young ...",The Duchess_2008,/m/10009493-duchess,Fresh,62,67.0

In [17]:
# rename "movie_title_x" column to be "movie_title"

master_df = master_df.rename(columns = {"movie_title_x":"movie_title"})
master_df

,show_id,type,movie_title,director,cast,country,date_added,release_year,rating,duration,genre,description,title_release_year,rotten_tomatoes_link,tomatometer_status,tomatometer_rating,audience_rating
0,70299204,Movie,Kidnapping Mr. Heineken,Daniel Alfredson,"Jim Sturgess, Sam Worthington, Ryan Kwanten, A...","Netherlands, Belgium, United Kingdom, United S...","September 8, 2017",2015,R,95 min,"Action & Adventure, Dramas, International Movies","When beer magnate Alfred ""Freddy"" Heineken is ...",Kidnapping Mr. Heineken_2015,/m/kidnapping_mr_heineken,Rotten,19,23.0
1,80057969,Movie,Love,Gaspar Noé,"Karl Glusman, Klara Kristin, Aomi Muyock, Ugo ...","France, Belgium","September 8, 2017",2015,NR,135 min,"Cult Movies, Dramas, Independent Movies",A man in an unsatisfying marriage recalls the ...,Love_2015,/m/love_2015,Rotten,40,38.0
2,70304988,Movie,Stonehearst Asylum,Brad Anderson,"Kate Beckinsale, Jim Sturgess, David Thewlis, ...",United States,"September 8, 2017",2014,PG-13,113 min,"Horror Movies, Thrillers","In 1899, a young doctor arrives at an asylum f...",Stonehearst Asylum_2014,/m/eliza_graves,Rotten,53,49.0
3,80057700,Movie,The Runner,Austin Stark,"Nicolas Cage, Sarah Paulson, Connie Nielsen, W...",United States,"September 8, 2017",2015,R,90 min,"Dramas, Independent Movies",A New Orleans politician finds his idealistic ...,The Runner_2015,/m/the_runner_1999,Rotten,24,22.0
4,80201906,Movie,Black Panther,Ryan Coogler,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",United States,"September 4, 2018",2018,PG-13,135 min,"Action & Adventure, Sci-Fi & Fantasy","T'Challa, the superpowered new leader of the h...",Black Panther_2018,/m/black_panther_2018,Certified Fresh,97,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,60022255,Movie,Balto,Simon Wells,"Kevin Bacon, Bob Hoskins, Bridget Fonda, Jim C...",United States,"April 1, 2018",1995,G,78 min,"Children & Family Movies, Dramas","Balto, who is half wolf and half dog, endures ...",Balto_1995,/m/balto,Rotten,54,70.0
530,607931,Movie,How to Make an American Quilt,Jocelyn Moorhouse,"Winona Ryder, Anne Bancroft, Ellen Burstyn, Ka...",United States,"April 1, 2018",1995,PG-13,116 min,"Dramas, Romantic Movies",A conflicted young woman spends the summer wit...,How to Make an American Quilt_1995,/m/how_to_make_an_american_quilt,Fresh,61,63.0
531,60036359,Movie,Schindler's List,Steven Spielberg,"Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...",United States,"April 1, 2018",1993,R,195 min,"Classic Movies, Dramas",Oskar Schindler becomes an unlikely humanitari...,Schindler's List_1993,/m/schindlers_list,Certified Fresh,97,97.0
532,80049281,Movie,Secret in Their Eyes,Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...","United States, United Kingdom, Spain, South Korea","April 1, 2018",2015,PG-13,111 min,"Dramas, Thrillers",A former FBI investigator reopens the haunting...,Secret in Their Eyes_2015,/m/secret_in_their_eyes_2015,Rotten,39,41.0
533,70099610,Movie,The Duchess,Saul Dibb,"Keira Knightley, Ralph Fiennes, Charlotte Ramp...","United Kingdom, Italy, France, United States","April 1, 2018",2008,PG-13,110 min,"Dramas, International Movies, Romantic Movies","To compensate for her unhappy marriage, young ...",The Duchess_2008,/m/10009493-duchess,Fresh,62,67.0

In [22]:
connection_string = "postgres:postgres@localhost:5432/netflix_RT_ratings"
engine = create_engine(f'postgresql://{connection_string}')

In [25]:
master_df.to_sql(name='netflix_RT_ratings', con=engine, if_exists = 'replace', index=True)